@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
 background-color:  #E5E5E5;
 width: 100vw;
 height: 100vh;
  overflow:auto; 

}

div.main{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;

}

div.extra{
    width: 320px;
    height: 30rem;
    margin-top: 12px;
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    border-radius: 40px;

}

/* header section*/ 
.header{
    margin-top: 2em;
    height: 12rem;    /* height responsive handler */
    text-align: right;
}  

div.themes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: none;
}
div.typing{
  margin-top: 60px;
  font-size: 16px;
  font-weight: 40;
  letter-spacing: 2px;
  overflow: hidden;   /*  any overflow will not visible in typing area */
  white-space: nowrap; /*  The white-space: nowrap property prevents line breaks */
  text-overflow: ellipsis; /*  add ellipsis(...)   if it overflow */
}
div.result{
  margin-top: 10px;
  
  font-size: 27px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 180px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}


div.result p.equalto{
 font-size: 20px !important;
 font-weight: 300px !important;
 margin-top: 12px !important;
 margin-left: 20px !important;
}




.mainCalculator{
    display: flex;
    flex-direction: row;
    gap: 8px;
     background-color:#90d4ff ;  /* color can be change */ 
     width: 20rem;
     border-radius: 14px 22px;   
   height: 22.5rem;     /* height responsive handler */
   /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}


/*  left table design*/
table.left_side{
   margin-left: 18px; 
   margin-top: 5px;  
}

button{
    font-weight: 450;
    font-size: 20px;   
    border: none;
    outline: none;   
  /* Remove default background color */
  background-color: transparent;
color:#373737; 
cursor: pointer;
width: 3rem;
height: 3.6rem;
}

tr.first_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-top: 13px;
 padding: -2px 2px;
}


tr.second_row,.third_row,.four_row,.five_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-top: 5px;
}
button.shadow{
  width: 50px;
height: 50px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  margin-top: 10px;
}
button.shadow:hover{
  background-color:#deeef8 ;
}

/* button.shadow:focus{
  background-color:#90d4ff ;
} */


/*  right table design*/
table.right_side{
    margin-left: 15px;
    margin-top: 11px;
 }
tr.main_row{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    gap: 8px;
    margin-top: 10px;
    width: 50px;
height: 315px;
}
button.extra_shadow{
  margin-top: 3px;
  background: rgba(255, 255, 255, 0.267);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  width: 50px;
height: 50px;
}

@media screen and (max-width:360px) and (min-width:310px) {
  .mainCalculator{
    width: 18rem;
     height: 21rem; 
  }
  div.extra{
    width: 285px;
  }
  table.left_side{
    margin-left: 10px; 
    margin-top: 2px;
 }
 table.right_side{
  margin-left: 3px;
  margin-top: 5.5px;
}
tr.first_row{
  margin-top: 5px;
}
tr.main_row{
  margin-top: 0px;
}
 /*  .header{
  height: 10rem;
}    plus  button gap      */


}






