@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=Poppins:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

body{
 background-color:  #E5E5E5;
 width: 100vw;
 height: 100vh;
  

}

div.main{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  flex-direction: column;

}

div.extra{
    width: 320px;
    height: 30rem;
    margin-top: 12px;
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    border-radius: 40px;

}

/* header section*/ 
.header{
    margin-top: 2em;
    height: 12rem;    /* height responsive handler */
    text-align: right;
}  

div.themes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
}
.theme-border{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background: #a9dcfd;
border-radius:  70px;
width: 90px;
height: 30px;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}
 .light_mode{
background: #d8eeff;
width: 90px;
height: 35px;
border-radius:  55%;
box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
}
.dark_mode{
  margin-top: 6px
}


div.typing{
  margin-top: 85px;
  font-size: 16px;
  font-weight: 40;
  letter-spacing: 2px;
  overflow: hidden;   /*  any overflow will not visible in typing area */
  white-space: nowrap; /*  The white-space: nowrap property prevents line breaks */
  text-overflow: ellipsis; /*  add ellipsis(...)   if it overflow */
}
div.result{
  margin-top: 10px;
  
  font-size: 27px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 180px;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}


div.result p.equalto{
 font-size: 20px !important;
 font-weight: 300px !important;
 margin-top: 12px !important;
 margin-left: 20px !important;
}




.mainCalculator{
    display: flex;
    flex-direction: row;
    gap: 8px;
     background-color:#90d4ff ;  /* color can be change */ 
     width: 20rem;
     border-radius: 14px 22px;   
   height: 22.5rem;     /* height responsive handler */
   /* filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)); */
}


/*  left table design*/
table.left_side{
   margin-left: 18px; 
   margin-top: 5px;  
}

table.left_side::after{
  content: '';
  display: block;
  clear: both;
  background: #6396C5;
border-radius: 25px;
width: 125px;
height: 3.7px;
margin-bottom: 7px;
margin-left: 75px;
}

button{
    font-weight: 450;
    font-size: 20px;   
    border: none;
    outline: none;   
  /* Remove default background color */
  background-color: transparent;
color:#373737; 
cursor: pointer;
width: 3rem;
height: 3.6rem;
}

tr.first_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  margin-top: 13px;
 padding: -2px 2px;
}
tr button:hover{
  background-color:#deeef8 ;
}

tr.second_row,.third_row,.four_row,.five_row{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  margin-top: 5px;
}
button.shadow{
  width: 50px;
height: 50px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  margin-top: 10px;
}
button.shadow:hover{
  background-color:#deeef8 ;
}

/* button.shadow:focus{
  background-color:#90d4ff ;
} */


/*  right table design*/
table.right_side{
    margin-left: 15px;
    margin-top: 11px;
 }
tr.main_row{
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.3);    
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    gap: 8px;
    margin-top: 10px;
    width: 50px;
height: 315px;
}
button.extra_shadow{
  margin-top: 3px;
  background: rgba(255, 255, 255, 0.267);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  border-radius: 80px;
  width: 50px;
height: 50px;
}

/* small screens */
@media screen and (max-width:360px) and (min-width:310px) {
  .mainCalculator{
    width: 18rem;
     height: 21.5rem; 
  }
  div.extra{
    width: 285px;
  }
  table.left_side{
    margin-left: 10px; 
    margin-top: 2px;
 }
 table.right_side{
  margin-left: 3px;
  margin-top: 5.5px;
}
tr.first_row{
  margin-top: 5px;
}
tr.main_row{
  margin-top: 0px;
}
 /*  .header{
  height: 10rem;
}    plus  button gap      */

table.left_side::after{
  content: '';
  display: block;
  clear: both;
  background: #6396C5;
border-radius: 25px;
width: 125px;
height: 3.5px;
margin-bottom: 2px;
margin-left: 75px;
}
}


@media screen and (max-height:820px) and (min-height:720px) {
  .mainCalculator{
    width: 18rem;
     height: 22rem; 
  }
  div.extra{
    width: 285px;
  }
  table.left_side{
    margin-left: 10px; 
    margin-top: 2px;
 }
 table.right_side{
  margin-left: 3px;
  margin-top: 5.5px;
}
tr.first_row{
  margin-top: 5px;
}
tr.main_row{
  margin-top: 0px;
}
 /*  .header{
  height: 10rem;
}    plus  button gap      */

table.left_side::after{
  content: '';
  display: block;
  clear: both;
  background: #6396C5;
border-radius: 25px;
width: 125px;
height: 3.5px;
margin-bottom: 9px;
margin-left: 75px;
}
div.extra{
  width: 320px;
  height: 30rem;
  margin-top: 42px;
  background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
  border-radius: 40px;

}

}



@media screen and (max-height:1220px) and (min-height:821px) {
  div.extra{
    width: 320px;
    height: 30rem;
    margin-top: 115px;
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    border-radius: 40px;
  
  }
  
}


@media screen and (max-width:810px) and (min-width:550px) {
  div.extra{
    width: 320px;
    height: 30rem;
    margin-top: 30px;
    background: linear-gradient(166.34deg, #FEFEFE 0%, #F9F9F9 12.84%, #F3F3F3 32.53%, #E5E5E5 100%);
    border-radius: 40px;
  
  }
}

/*   Dark mode  */

body.dark-theme{
  background-color:#0D1117;
}

 body.dark-theme  div.extra{
  background: linear-gradient(166.34deg, #373737 0%, #252628 22.9%, #000309 100%);
}

body.dark-theme .mainCalculator{
  background: #4d94d6;

  background: linear-gradient(244.38deg, #42869B 8.14%, #2A7DA1 27.9%);
}

body.dark-theme button{  
background-color: transparent;
color:#f1eded; 
}
body.dark-theme tr.first_row{

   background: #0f2433;
}
 body.dark-theme tr button:hover{
  background-color:#000000fb ;
} 
body.dark-theme button.shadow{

  background: #0f2433;
} 
body.dark-theme  button.shadow:hover{
  background-color:#000000 ;
}
 body.dark-theme tr.main_row{

  background: #0f2433;
}
body.dark-theme button.extra_shadow{
  background: rgba(5, 5, 5, 0.664);
 
}

 body.dark-theme table.left_side::after{
  content: '';
  background: #0011ff9d;
}


 body.dark-theme div.typing{
color: #a6a8ad;
}
body.dark-theme div.result{
  color: #fbfbfb;
}

body.dark-theme .theme-border{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  background:  #1b6a9c;
border-radius:  70px;
width: 90px;
height: 30px;
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
}



  body.dark-theme .dark_mode{
    background: #003661;
  width: 120px;
  height: 35px;
  border-radius:  60%;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.05);
  margin-bottom: 8px;
  }
 